body {
  font-family: "Roboto", sans-serif;
}

header {
  background: #28a745;
}

.container-fluid {
  background: #28a745;
}
.container-home {
  background: black;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  color: white;
}

#promo-price {
  color: #28a745;
  font-weight: 500;
}

.card-body {
  font-weight: 300;
}

#container-form {
  background: #28a745;
  margin: 0;
}

#button {
  padding-left: 30px;
  padding-right: 30px;
}

.form-control {
  font-weight: 300;
}

#footer-white {
  background: black;
}

.footer-text {
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
  align-items: center;
}
#footer-brand {
  color: white;
}

.social-icons {
  font-size: 30px; /* Adjust icon size as needed */
  margin-right: 20px;
  color: black;
}
.bio-container {
  margin-top: 20px;
}
