body {
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
}
.bio-container {
  padding: 20px;
}
.profile-image {
  max-width: 200px;
  border-radius: 50%;
}
.social-icons {
  font-size: 24px; /* Adjust icon size as needed */
  margin-right: 10px;
}
.bio-info {
  text-align: left;
}
